<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Детальная материала блога | WeCoders</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- all css here -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- animate-text css -->
    <link rel="stylesheet" href="css/animate-text.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- et-line fonts css -->
    <link rel="stylesheet" href="css/et-line.css">
    <!-- pe-icon-7-stroke fonts css -->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr js -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста
    <a href="http://browsehappy.com/">обновите его</a>
</p>
<![endif]-->

<!-- Линия с контактами -->
<div class="header-top-area bg-color ptb-10 hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="welcome">
                    <span><i class="fa fa-envelope"></i> admin@domain.com</span>
                    <span><i class="fa fa-phone"></i> +012 345 6789</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="social-icon-header text-right">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Шапка сайта (меню) -->
<header id="sticky-header" class="header-area header-wrapper white-bg">
    <!-- Меню (для десктопа) -->
    <div class="header-middle-area full-width">
        <div class="container">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- Логотип -->
                    <div class="col-md-2 col-sm-3 col-xs-8">
                        <div class="logo ptb-22">
                            <a href="index.html">
                                <img src="img/logo/logo.png" alt="main logo">
                            </a>
                        </div>
                    </div>

                    <!-- Меню (основное) -->
                    <div class="col-md-10 col-sm-9 col-xs-4 text-right dark-menu">
                        <div class="header-main-menu hidden-xs">
                            <nav id="primary-menu">
                                <ul class="main-menu text-right">
                                    <li>
                                        <a href="index.html">Главная</a>
                                    </li>
                                    <li>
                                        <a href="about_us.html">О нас</a>
                                    </li>
                                    <li>
                                        <a href="services.html"> Услуги
                                            <span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="services_landing.html">Лендинг</a>
                                            </li>
                                            <li>
                                                <a href="services_online_shop.html">Интернет-магазин</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio.html"> Портфолио</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Блог</a>
                                    </li>
                                    <li>
                                        <a href="contacts.html">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Поиск -->
                        <div class="header-right">
                            <div class="header-search">
                                <div class="search-wrapper">
                                    <a href="javascript:void(0);" class="search-open">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                    <div class="search-inside animated bounceInUp">
                                        <i class="icon-close search-close fa fa-times"></i>
                                        <div class="search-overlay"></div>
                                        <div class="position-center-center">
                                            <div class="search">
                                                <form>
                                                    <input type="search" placeholder="Поиск по сайту">
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Меню (для мобилки) -->
    <div class="mobile-menu-area visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="index.html">Главная</a>
                                </li>
                                <li>
                                    <a href="about_us.html">О нас</a>
                                </li>
                                <li>
                                    <a href="services.html">Услуги</a>
                                    <ul>
                                        <li>
                                            <a href="services_landing.html">Лендинг</a>
                                        </li>
                                        <li>
                                            <a href="services_online_shop.html">Интернет-магазин</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="portfolio.html">Портфолио</a>
                                </li>

                                <li>
                                    <a href="blog.html">Блог</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Хлебные крошки (навигация) -->
<div class="breadcrumb-area black-bg ptb-100">
    <div class="container width-100">
        <div class="row z-index">
            <div class="col-md-7 col-sm-6">
                <div class="breadcrumb-title">
                    <h2 class="white-text">Блог на Bitrix</h2>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="breadcrumb-menu">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="#">Блог</a>
                        </li>
                        <!--<li class="active">Страница материала</li>-->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Блог -->
<div class="blog-area ptb-90">
    <div class="container">
        <div class="row">
            <!-- Контент материала -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <article class="post-wrapper mb-60">
                    <h3 class="text-blue">Дизайн во всём</h3>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/79876010"></iframe>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                            <span><a href="#"><i class="fa fa-clock-o"></i> 20 июля </a></span> -
                            <span><a href="#"><i class="fa fa-user"></i> Anya</a></span> -
                            <span><a href="#">Разработка</a></span>
                        </div>
                        <p>Диза́йн (от англ. design — проектировать, чертить, задумать, а также проект, план, рисунок) —
                           деятельность по проектированию эстетических свойств промышленных изделий («художественное
                           конструирование»), а также результат этой деятельности (например, в таких словосочетаниях,
                           как «дизайн автомобиля»).</p>
                        <blockquote>
                            <p>Теоретической основой дизайна является техническая эстетика.</p>
                        </blockquote>
                        <p>Считается, что в более широком смысле дизайн призван не только к художественному
                           конструированию, но должен участвовать в решении более широких социально-технических проблем
                           функционирования производства, потребления, существования людей в предметной среде, путём
                           рационального построения её визуальных и функциональных свойств.</p>
                    </div>
                </article>

            </div>

            <!-- Правая колонка -->
            <div class="col-md-4 col-sm-12 col-xs-12 mt-sm-40 mt-xs-40">

                <!-- Поиск -->
                <div class="widget mb-60">
                    <form class="search-form" action="#">
                        <input type="text" placeholder="Поиск"/>
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <!-- Категории -->
                <div class="widget mb-60">
                    <h4 class="sidebar-title text-uppercase mb-35 pb-10">Категории</h4>
                    <ul class="widget-cat">
                        <li>
                            <a href="#">Web-Дизайн</a>
                        </li>
                        <li>
                            <a href="#">События</a>
                        </li>
                        <li>
                            <a href="#">Разработка</a>
                        </li>
                        <li>
                            <a href="#">Разное</a>
                        </li>
                    </ul>
                </div>

                <!-- Популярные теги -->
                <div class="widget mb-60">
                    <h4 class="sidebar-title text-uppercase mb-35 pb-10">Популярные теги</h4>
                    <ul class="tag">
                        <li>
                            <a href="#">PHP</a>
                        </li>
                        <li>
                            <a href="#">UI/UX</a>
                        </li>
                        <li>
                            <a href="#">Дизайн</a>
                        </li>
                        <li class="active">
                            <a href="#">Портфолио</a>
                        </li>

                        <li>
                            <a href="#">UI & UX</a>
                        </li>
                        <li>
                            <a href="#">Html5</a>
                        </li>
                        <li>
                            <a href="#">Css3</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Футер -->
<footer class="footer-style-2">
    <div class="footer-top-area brand-bg pad-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget footer-widget-center text-center">
                        <!-- Лого + текст -->
                        <div class="footer-logo">
                            <a href="#">
                                <img src="img/logo/logo-white.png" alt=""/>
                            </a>
                        </div>
                        <p>Если вы похожи на большинство компаний, у вас нет маркетингового бюджета в миллион
                           долларов<br> или своей команды разработки. Но это не значит, что у вас не может быть<br>
                           сайта мирового класса. И мы вам в этом поможем!</p>

                        <!-- Соц. сети -->
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- нижнее меню -->
    <div class="footer-bottom-area pad-20 brand-bg footer-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="copyright white-text">
                        <p>We Coders © 2018</p>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="footer-nav white-text">
                        <nav>
                            <ul>
                                <li class="mega-parent">
                                    <a href="index.html">Главная</a>
                                </li>
                                <li>
                                    <a href="about_us.html">О нас</a>
                                </li>
                                <li>
                                    <a href="services.html">Услуги</a>
                                </li>
                                <li>
                                    <a href="portfolio.html">Портфолио</a>
                                </li>
                                <li>
                                    <a href="blog.html">Блог</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- All js here -->
<!-- jquery js -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="js/owl.carousel.min.js"></script>
<!-- counterup js -->
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<!-- magnific-popup js -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- mixitup js -->
<script src="js/jquery.meanmenu.js"></script>
<!-- jquery.nav js -->
<script src="js/jquery.nav.js"></script>
<!-- jquery.nav js -->
<script src="js/jquery.parallax-1.1.3.js"></script>
<!-- plugins js -->
<script src="js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
</body>
</html>
