<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Услуги | WeCoders</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">


    <!-- all css here -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- animate-text css -->
    <link rel="stylesheet" href="css/animate-text.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- et-line fonts css -->
    <link rel="stylesheet" href="css/et-line.css">
    <!-- pe-icon-7-stroke fonts css -->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr js -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста
    <a href="http://browsehappy.com/">обновите его</a>
</p>
<![endif]-->

<!-- Линия с контактами -->
<div class="header-top-area bg-color ptb-10 hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="welcome">
                    <span><i class="fa fa-envelope"></i> admin@domain.com</span>
                    <span><i class="fa fa-phone"></i> +012 345 6789</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="social-icon-header text-right">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Шапка сайта (меню) -->
<header id="sticky-header" class="header-area header-wrapper white-bg">
    <!-- Меню (для десктопа) -->
    <div class="header-middle-area full-width">
        <div class="container">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- Логотип -->
                    <div class="col-md-2 col-sm-3 col-xs-8">
                        <div class="logo ptb-22">
                            <a href="index.html">
                                <img src="img/logo/logo.png" alt="main logo">
                            </a>
                        </div>
                    </div>

                    <!-- Меню (основное) -->
                    <div class="col-md-10 col-sm-9 col-xs-4 text-right dark-menu">
                        <div class="header-main-menu hidden-xs">
                            <nav id="primary-menu">
                                <ul class="main-menu text-right">
                                    <li>
                                        <a href="index.html">Главная</a>
                                    </li>
                                    <li>
                                        <a href="about_us.html">О нас</a>
                                    </li>
                                    <li>
                                        <a href="services.html">
                                            Услуги
                                            <span class="indicator"><i class="fa fa-angle-down"></i></span>
                                        </a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="services_landing.html">Лендинг</a>
                                            </li>
                                            <li>
                                                <a href="services_online_shop.html">Интернет-магазин</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>                                        <a href="portfolio.html">                                            Портфолио                                        </a>                                    </li>
                                    <li>
                                        <a href="blog.html">Блог</a>
                                    </li>
                                    <li>
                                        <a href="contacts.html">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Поиск -->
                        <div class="header-right">
                            <div class="header-search">
                                <div class="search-wrapper">
                                    <a href="javascript:void(0);" class="search-open">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                    <div class="search-inside animated bounceInUp">
                                        <i class="icon-close search-close fa fa-times"></i>
                                        <div class="search-overlay"></div>
                                        <div class="position-center-center">
                                            <div class="search">
                                                <form>
                                                    <input type="search" placeholder="Search Shop">
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Меню (для мобилки) -->
    <div class="mobile-menu-area visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="index.html">Главная</a>
                                </li>
                                <li>
                                    <a href="about_us.html">О нас</a>
                                </li>
                                <li>
                                    <a href="services.html">Услуги</a>
                                    <ul>
                                        <li>
                                            <a href="services_landing.html">Лендинг</a>
                                        </li>
                                        <li>
                                            <a href="services_online_shop.html">Интернет-магазин</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>                                    <a href="portfolio.html">Портфолио</a>                                </li>

                                <li>
                                    <a href="blog.html">Блог</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Хлебные крошки (навигация) -->
<div class="breadcrumb-area brand-bg ptb-100">
    <div class="container width-100">
        <div class="row z-index">
            <div class="col-md-7 col-sm-6">
                <div class="breadcrumb-title">
                    <h2 class="white-text">Чем мы занимаемся</h2>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="breadcrumb-menu">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="active">
                            <a href="#">Услуги</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Текстовый блок + скилы -->
<section class="who-area-are bg-color pad-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="who-we">
                    <h2 class="title-1">Немного о нас</h2>
                    <p>WeCoders - это web-студия, где будут реализованы все ваши задумки в области web - креативные
                       концепции, разработка сайтов, фотография, видео, электронная коммерция, аналитика, SEO,
                       интерактивная реклама и маркетинговая поддержка - все, что вам нужно, мы могут это сделать. Еще
                       важнее то, как мы это делаем, потому что мы относятся к вашему бизнесу как к своему.</p>
                    <p>Наши ценности всегда приводят к тому6 что мы создаем классные результаты каждому клиенту и
                       его бизнесу, руководствуясь честностью и доверием. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="our-skill">
                    <h2 class="title-1">Skills</h2>
                    <div class="progress-list">
                        <div class="progress">
                            <div class="lead">Web-дизайн</div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span>90%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="lead">PHP (Bitrix / Laravel / Symfony)</div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span>80%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="lead">Node.js</div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%;">
                                <span>75%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="lead">JavaScript (Angular / React)</div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                <span>75%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="lead">CSS (LESS)</div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%;">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Направления -->
<section class="service-area pt-90 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center mb-70">
                <h2>Направления</h2>
                <p>Всё что нужно для производства сайта любой сложности</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service brand-hover radius-4 mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-tools " aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Web-дизайн</h3>
                        <p>Создание индивидуальной концепции, от лаконичных решений до сложных динамических элементов.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service brand-hover radius-4 mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-mobile" aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Frontend</h3>
                        <p>Красивая и отзывчивая <b>frontend</b> часть сайта, которая будет отлично работать на всех
                           разрешениях и устройствах.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service brand-hover radius-4 mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-tools-2" aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Backend</h3>
                        <p>Стабильный и быстрый <b>backend</b> сайта с гибкой админкой и высоким уровнем безопасности.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service brand-hover radius-4 mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-search" aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Продвижение</h3>
                        <p>От SEO-оптимизации до контекстной рекламы. Всё для того, чтобы сайт собирал тысячи лидов.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service brand-hover radius-4 mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-toolbox" aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Поддержка</h3>
                        <p>Поправим, переделаем и реализуем новые решения на уже готовом сайте, а также предложим
                           идеи по улучшению.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-service radius-4 brand-hover mb-30 text-center">
                    <div class="service-icon">
                        <span class="icon-pictures" aria-hidden="true"></span>
                    </div>
                    <div class="service-text">
                        <h3>Контент</h3>
                        <p>Подготовим лучший контент от написания статей до подбора музыкального сопровождения и
                           напоним сайт.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Услуги -->
<section id="pricing" class="pricing-area bg-color pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center mb-70">
                <h2>Разработка сайта</h2>
                <p>Какой сайт вам нужен? Выбирайте, оставляйте заявку в форме ниже и мы свяжемся с вами!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-pricing text-center mb-30">
                    <div class="pricing-head">
                        <h2 class="pricing-title text-uppercase">Лендинг</h2>
                        <span>Одностраничный сайт</span>
                    </div>
                    <div class="pricing-plan-price basic-bg">
                        <span><span>от </span>10 000<span> ₽</span></span>
                    </div>
                    <div class="pricing-plan-list">
                        <ul>
                            <li>до 2х недель</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Домен + хостинг на 1 год</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="services_landing.html" class="btn">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-pricing text-center mb-30">
                    <div class="pricing-head">
                        <h2 class="pricing-title text-uppercase">Сайт визитка</h2>
                        <span></span>
                    </div>
                    <div class="pricing-plan-price standard-bg">
                        <span><span>от </span>15 000<span> ₽</span></span>
                    </div>
                    <div class="pricing-plan-list">
                        <ul>
                            <li>от 1 до 2 недель</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Домен + хостинг на 1 год</li>
                            <li>Удобная админка</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="#" class="btn standard-bg">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-pricing text-center mb-30">
                    <div class="pricing-head">
                        <h2 class="pricing-title text-uppercase">Интернет магазин</h2>
                        <span></span>
                    </div>
                    <div class="pricing-plan-price premium-bg">
                        <span><span>от </span>30 000<span> ₽</span></span>
                    </div>
                    <div class="pricing-plan-list">
                        <ul>
                            <li>от 3х недель до 1,5 мес.</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Домен + хостинг на 1 год</li>
                            <li>Удобная админка</li>
                            <li>Интеграции с внешними сервисами</li>
                            <li>Базовая SEO-оптимизация</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="services_online_shop.html" class="btn premium-bg">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-pricing text-center mb-30">
                    <div class="pricing-head">
                        <h2 class="pricing-title text-uppercase">Корп. сайт</h2>
                        <span>Любой сложности</span>
                    </div>
                    <div class="pricing-plan-price unlimited-bg">
                        <span><span>от </span>50 000<span> ₽</span></span>
                    </div>
                    <div class="pricing-plan-list">
                        <ul>
                            <li>до 2 мес.</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Домен + хостинг на 1 год</li>
                            <li>Удобная панель управлени</li>
                            <li>Интеграции с внешними сервисами</li>
                            <li>-</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="#" class="btn unlimited-bg">Узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Футер -->
<footer class="footer-style-2">
    <div class="footer-top-area brand-bg pad-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget footer-widget-center text-center">
                        <!-- Лого + текст -->
                        <div class="footer-logo">
                            <a href="#">
                                <img src="img/logo/logo-white.png" alt=""/>
                            </a>
                        </div>
                        <p>Если вы похожи на большинство компаний, у вас нет маркетингового бюджета в миллион
                           долларов<br>
                           или своей команды разработки. Но это не значит, что у вас не может быть<br> сайта
                           мирового класса. И мы вам в этом поможем!</p>

                        <!-- Соц. сети -->
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- нижнее меню -->
    <div class="footer-bottom-area pad-20 brand-bg footer-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="copyright white-text">
                        <p>We Coders © 2018</p>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="footer-nav white-text">
                        <nav>
                            <ul>
                                <li class="mega-parent">
                                    <a href="index.html">Главная</a>
                                </li>
                                <li>
                                    <a href="about_us.html">О нас</a>
                                </li>
                                <li>
                                    <a href="services.html">Услуги</a>
                                </li>
                                <li>
                                    <a href="portfolio.html">Портфолио</a>
                                </li>
                                <li>
                                    <a href="blog.html">Блог</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- All js here -->
<!-- jquery js -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="js/owl.carousel.min.js"></script>
<!-- counterup js -->
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<!-- magnific-popup js -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- mixitup js -->
<script src="js/jquery.meanmenu.js"></script>
<!-- jquery.nav js -->
<script src="js/jquery.nav.js"></script>
<!-- jquery.nav js -->
<script src="js/jquery.parallax-1.1.3.js"></script>
<!-- animate text js -->
<script src="js/animate-text.js"></script>
<!-- plugins js -->
<script src="js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
</body>
</html>
